:host {
  padding: 0 12px 8px 12px;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  background-color: #ECF1F9;
}

.navigation {
  display: flex;
  margin-bottom: 16px;

  button {
    width: 100%;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    height: 48px;

    &:first-child  {
      margin-right: 8px;
    }

    mat-icon {
      margin-right: 8px;
    }
  }
}

.mat-divider {
  margin-bottom: 8px;
}

.stub {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  text-align: center;
}