.mat-card {
  padding: 4px;
  margin-bottom: 8px;
  box-shadow: none !important;
  display: flex;
}

.info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.mat-card {
  padding-right: 12px;
}